@page
@model eventmanager.Pages.wrongresponseModel
@{
}

<h2>l'api ha risposto con un errore, è pregato di riprovare.
	Errore fuori dal dominio dello sviluppatore

	si consiglia di tornare alla home e di ricaricare la pagina
</h2>
